.slide {
	border-radius: 24px 24px 24px 4px;
	background: rgba(0, 183, 255, 0.12);
	padding: 20px 24px;
	/* button */
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

	@media only screen and (max-width: 767px) {
	padding: 12px;
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		padding: 1px;
		background: linear-gradient(
			360deg,
			rgba(130, 161, 164, 0.651),
			rgb(105, 105, 105),
			rgba(249, 248, 246, 0),
			rgb(212, 212, 212),
			rgba(130, 161, 164, 0.027)
		);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		pointer-events: none;
		z-index: 0;
	}

	h3 {
		color: #0a7cff;
		font-family: Helvetica;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 31.5px; /* 131.25% */
		letter-spacing: 0.5px;
		text-transform: uppercase;
		max-width: 375px;

		@media only screen and (max-width: 767px) {
		font-size: 16px;
		}
	}

	p {
		color: #fff;
		font-family: 'TT Hoves Pro Trl Expanded';
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px; /* 200% */
		letter-spacing: -0.48px;
		max-width: 375px;
		padding: 8px 0px;

		@media only screen and (max-width: 767px) {
		font-size: 15px;
		padding-top: 4px;
		padding-bottom: 8px;
		max-width: 316px;
		}
	}

	span {
		color: #738093;
		font-family: Helvetica;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 171.429% */
		letter-spacing: -0.28px;
	}
}

.sliderWrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sliderViewport {
	width: 100%;
	overflow: hidden;
}

.sliderTrack {
	display: flex;
	gap: 24px;
	padding: 16px 0;
	width: max-content;
	will-change: transform;
}
