footer {
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.05);
}

.footerContent {
	width: 100%;
	max-width: 1208px;
	padding: 12px 0px;

	@media only screen and (max-width: 1260px) {
	margin: 0 12px;
	}

	.footerTop {
		nav {
			display: flex;
			justify-content: space-between;
			padding-bottom: 12px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			margin-bottom: 14px;
			div {
				h2 {
					color: #fff;
					font-family: Helvetica;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 28px; /* 175% */
					padding-bottom: 14px;
				}

				ul {
					display: flex;
					flex-direction: column;
					gap: 14px;

					li {
						a {
							color: #fff;
							font-family: 'Helvetica';
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							opacity: 0.5;
              transition: all .3s ease;

              &:hover{
                opacity: 1;
              }
						}
					}
				}
			}
		}
	}

	.footerBottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			color: #fff;
			font-family: Helvetica;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}
